
apiVersion: v1
kind: Service
metadata:
  labels:
    app: flaskapi
  name: flaskapi
spec:
  type: NodePort
  ports:
    - port: 5000
      targetPort: 5000
      protocol: TCP
  selector:
    app: flakapi
